.order {
  border: 1px solid lightgray;
  background-color: #fff;
  position: relative;
}

.order__details {
  display: flex;
  justify-content: space-between;
  border-radius: 4px 4px 0 0;
  margin-top: 20px;
  padding: 20px;
  background-color: #f6f6f6;
  border: 1px solid lightgray;
}

.order__info {
  display: flex;
  flex-direction: column;
  color: #565959;
  line-height: 18px;
}

.order__info > span:first-child {
  font-size: 11px;
}

.order__info > span:nth-child(2) {
  font-size: 13px !important;
}
