.payment {
  background-color: white;
  display: flex;
}

.payment__container {
  flex-grow: 1;
  text-align: center;
  padding: 10px;
  font-weight: 400;
  background-color: rgb(234, 237, 237);
  border-bottom: 1px solid lightgray;
}

.payment__container > h1 a {
  text-decoration: none;
}

.payment__section {
  display: flex;
  padding: 20px;
  margin: 0 20px;
  border-bottom: 1px solid lightgray;
}

.payment__title {
  flex: 0.2;
}

.payment__address,
.payment__items {
  flex: 0.8;
}

.payment__address,
.payment__items,
.payment__details {
  flex: 0.8;
}

.payment__details > form {
  max-width: 400px;
}
.payment__details > h3 {
  padding-bottom: 20px;
}

.payment__placeOrder {
  width: 25%;
  margin: 10px 30px 10px 10px;
  border: 1px solid lightgray;
  border-radius: 7px;
}

.payment__submitOrder {
  padding: 10px;
}

.payment__submitOrder > form > Button {
  width: 100%;
  padding: 10px;
  background: #f0c14b;
  border-radius: 2px;
  border: 1px solid;
  font-size: 13px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  cursor: pointer;
}

.payment__submitOrder > form > p {
  margin-top: 10px;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  color: rgb(158, 158, 158);
}

.payment__submitOrder > form > p > span {
  cursor: pointer;
  color: #007185;
}

hr {
  background-color: transparent;
  height: 1px;
  border-width: 0;
  border-top: 1px solid #e7e7e7;
  line-height: 19px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.payment__SummaryHeader {
  margin-top: 4px;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.255;
}

table {
  font-size: 12px;
  line-height: 1.5;
}
table,
th,
td {
  width: 100%;
}

td:last-child {
  padding-right: 0;
  text-align: right;
  margin-right: 0;
}

.payment__orderTotal {
  color: #b12704 !important;
}
